<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ValoGear</title>
    <link rel="stylesheet" href="public/css/armesdetail.css">
</head>
<body>
    <%- include('../components/header'); %>
    <main>
        <div class="armes-detail">
            <img src="public/img/black_weapon/<%= armes.name_arme %>.png" alt="Image de <%= armes.name_arme %>">
            <div class="description">
                <p class="nom-arme"><%= armes.name_arme %></p>
                <p>description : <%= armes.description_arme %></p>
                <p>fire rate : <%= armes.fire_rate %> bullet/s</p>
                <p>dmg per bullet : <%= armes.damage_per_bullet %></p>
                <p>reload speed : <%= armes.reload_speed %>s</p>
                <p>penetration : 
                    <% if (armes.penetration === 0) { %>
                        None
                    <% } else if (armes.penetration === 1) {%>
                        Low
                    <% } else if (armes.penetration === 2) {%>
                        Medium
                    <% } else if (armes.penetration === 3) {%>
                        High
                    <% } %>  
                </p>
                    <% if (armes.id_type === 1) { %>
                        Melee                    
                    <% } else if (armes.id_type === 2) {%>
                        Arme de poing
                    <% } else if (armes.id_type === 3) {%>
                        Pistolet mitrailleur
                    <% } else if (armes.id_type === 4) {%>
                        Fusil d'assaut
                    <% } else if (armes.id_type === 5) {%>
                        Fusil à pompe
                    <% } else if (armes.id_type === 6) {%>
                        Mitrailleuse
                    <% } else if (armes.id_type === 7) {%>
                        Fusil de précision
                    <% } %>
            </div>
        </div>

        <div class="skin-detail">
            <% skins.forEach(function(skins){ %>
                <a href="/skindetail?id=<%= skins.id_skin %>" class="skin-ctn">
                    <img src="http://localhost:4000/public/img<%=skins.path%>" alt="<%=skins.alt%>">
                    <p class="nom-arme"><%= skins.name_skin %></p>
                </a>
            <% }) %>
        </div>
    </main>
</body>
</html> 