<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valogear</title>
</head>
<body>

    <% skin.forEach(function(skins){ %>
        <p><%= skins.name_skin %></p>
        <p><%= skins.prix %></p>
        <p><%= skins.description_skin %></p>
        <p><%= skins.id_skin %></p>
            <% }); %>

    <% image.forEach(function(image){ %>
            <img src="http://localhost:4000/public/img<%= image.path %>" alt="<%= image.alt %>">
    <% }); %>    

    </body>
</html>